# fly.toml app configuration file generated for bot-salao-amanda
# Documentação: https://fly.io/docs/reference/configuration/

app = "bot-salao-amanda"
primary_region = "gru"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[mounts]
  source = "bot_data"
  destination = "/app/data"
